* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #F2BF30;
}

/*Pop-Up*/
.popup {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    background-color: white;
    width: 500px;
    height: 500px;
    display: none;
    padding: 50px;
    box-sizing: border-box;
    border-radius: 10px;
    -webkit-box-shadow: 0px 0px 20px -1px rgba(0,0,0,0.36);
    -moz-box-shadow: 0px 0px 20px -1px rgba(0,0,0,0.36);
    box-shadow: 0px 0px 20px -1px rgba(0,0,0,0.36);
}

.popup i {
    font: normal normal normal 14px/1 FontAwesome;
    position: absolute;
    right: 15px;
    top: 15px;
    font-size: 25px;
    color: grey;
    cursor: pointer;
    transition: 0.15s all ease;
}

.popup-overflow {
    background-color:black;
}

.popup i:hover {
    color: #A6A6A6;
}

.popup-active {
    display: block;
}

